@charset "utf-8";
@font-face {
    font-family: EK2003Regular;
    src: url(EK2003Regular.ttf);
}
/* CSS Document */

	
	html{
		height: 100%;
		font-size:100%;

	}


	body{
		height: 100%;
		font-size:4vmin;
		font-family:arial;
		margin: auto;
		position: relative;
        background-color:#112233 ;
	}


	img {
    max-width: 100vh;
    height: auto;
    width: auto\9; /* ie8 */
	}

	.header{

		background-color: #d35400;
      	height:30vh;  
   		margin: auto;	
	}

	.display{

		height:70vh; 
		position: relative;
	}

	.signing-up{
		text-align: center;
		color:  #d35400;
		font-size: 8vmin;
		font-family:EK2003Regular;
		position:relative;

	}

	input{
		color: #d35400;
	
	}

	.register-form{
		width:30vmin;
		height: 5vmin;
		display: block;
		background-color: #0f1e2c;
		border-radius :0.5vmin;
		border-color:  #0f1e2c;
		font-size: 0.8em;
		font-family:EK2003Regular;
		position:relative;
		border-style: solid;
	}

	.sign-up{
		width:30vmin;
		height:5vmin;
		display: block;
		background-color: #d35400;
		border-radius :0.5vmin;
		border-color:  #d35400;
		font-size: 0.8em;
		font-family:EK2003Regular;
		position:relative;
		border-style: solid;
	}


	.sign-in{
		font-size: 0.7em;
		font-family:EK2003Regular;
		position:relative;
		color:  #d35400;
		text-decoration: none;
	}

	.sign-in:hover{
		color:  #ff8636;
		text-decoration: underline;
	
	}
		td{
	height:7vmin;
	padding: auto;
	font-size: 1em;
	color: #d35400;
	font-family:EK2003Regular;
	vertical-align: middle; 

	}
	